body {
    font-family: Poppins, sans-serif;
}

header,
.nav_links,
.pricing,
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Mobile View */
.nav_links {
    flex-direction: column;
}

header img,
.card,
.gallery img {
    width: 100%;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#logo {
    animation-name: fade;
    animation-duration: 3s;
    animation-timing-function: linear;
}

/* Desktop View */
@media screen and (min-width: 700px) {
    header img {
        width: 400px;
    }

    header {
        justify-content: space-between;
        align-items: center;
    }

    .nav_links {
        flex-direction: row;
    }

    .card,
    .gallery img {
        width: 300px;
    }
}

@media (prefers-reduced-motion) {
    #logo {
        animation: none;
    }
}